.notification {
    margin-top: 15px;
}

.card2 {
    padding: 5px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px 0px ;
}

.tituloh4 {
    font-weight: bold;
}

.texto {
    font-family: 14px;
    font-weight: bold;
}

.inf {
    margin-top: -10px;
    margin-left: 270px;
}

.fot {
    position: relative;
}

