.carPost {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carImage1 {
    background-color: #C9E6FC;
    text-align: center;

}

.carImage1 img {
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    height: 229px;
    width: 250px;
}

.title-h2 {
    font-size: 18px;
    font-weight: bold;
}

.text-p {
    margin-left: auto;
    margin-right: auto;
    width: 292px;
    font-size: 16px;
    line-height: 19.36px;
}

.card-PerfilP {
    width: 342px;
    height: 450px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #2D3D8A87;

}

.card-PerfilP h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 21px;
    font-weight: bold;
}

.icons-p {
    width: 300px;
    color: black;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.icons-2 {
    display: flex;
}

.icons-2 i {
    margin: 4px;
    font-size: 20px;

}

.icons-2 p {
    font-size: 16px;
    font-weight: bold;
}

.icons-p2 {
    width: 243px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}
