.tag-color {
    background: #58FF4A !important;
    position: absolute;
}

.ic-img {
    width: 140px;
    margin-top: -28px;
    margin-left: auto;
    margin-right: auto;
}

.txt-i {
    display: flex;
    margin-top: 40px;
}

.txt-hp {
    width: 210px;
    margin-top: 40px;
}

.txt-title{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.txt-p{
    color: black;
    font-size: 13px;
    line-height: 24px;
}

.txt-image {
    width: 130px;
    height: 123px;
    margin-top: 10px;
}

.txt-cont {
    color: black;
}

.txt-cont-p {
    margin-bottom: 30px;
}

.txt-cont-tit {
    font-weight: bold;
    margin-bottom: 5px;
}

.butt-end {
    display: flex;
    margin-top: 50px;
}

.btt-end {
    width: 170px !important;
}

.btt2-end {
    margin-left: 20px;
    width: 150px !important;
}