.content-postuF {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(275px, 1fr)
    ) !important;
    gap: 35px;
    place-items: center !important;
}