.img {
    margin-top: -45px;
}

.titleImg{
    position: absolute;
    text-align: center;
    line-height: 35px;
    margin-left: 25px;
    font-size: 30px;
    height: 105px;
    width: 256px;
    top: 100px;
}

.subtitle {
    line-height: 19.36px;
    text-align: center;
    font-size: 16px;
    color: #070A12;
}

.title2 {
    font-size: 25px;
    text-align: center;
    line-height: 30.26px;
    font-weight: bold;
    color: #111D2D;

}

.subtitle2 {
    text-align: center;
    line-height: 19.36px;
    margin-bottom: 10px;
}

.h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: rgb(39, 39, 39);
    margin-bottom: 10px;
}

/* Registro Empresa */
.car{
    text-align: center;
    height: 284px;
}

.cardF {
    height: 100%;
    width: 62%;
}

.ic {
    margin-left: auto;
    color: #0B131E;
    margin-top: -45%;
    width: 125px;
}

.ic i{
    width: 20px;
    margin-right: 90%;
    margin-top: 5px;
}

.ic p {
    line-height: 19.36px;
    margin-left: auto;
    margin-top: -25px;
    text-align: left;
    font-size: 16px;
    height: 48px;
    width: 99px;
    color: black;
}

/* End */

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem !important;
    margin: 1rem 1.5rem;
}

.inf1 {
    display: none;
}

@media screen and (min-width: 1024px) {
    .inf1 {
        display: flex;
        align-items: center;
        margin-top: 6rem;
        gap: 3em;
    }
    .inf {
        display: none;
    }
}