.big {
    height: 3rem !important;
}

.select {
    margin-bottom: 0 !important;
}

@media screen and (min-width: 600px) {
    .selectrespons {
        width: 25rem !important;
    }
}
@media screen and (min-width: 1024px) {
    .selectrespons {
        width: 30rem !important;
    }
}