.cStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.582), 0 0 0 1px rgba(10,10,10,.02);
    border-radius: 20px;
}

.t-card-compra {
    line-height: 27px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    color: black;
}

.btn-Trash {
    width: 90% !important;
}